__pycache__/
*/__pycache__/
.DS_Store
*/.DS_Store
env/
cloudsqlproxy.cmd
*.sqlite3
IPMD_webcam/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.sqlite3