__pycache__/
*/__pycache__/
.DS_Store
*/.DS_Store
env/
cloudsqlproxy.cmd
IPMD_webcam/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.sqlite3
*.txt
*.h5
media/
Pipfile